PORT=5500
MONGO_URI=mongodb://127.0.0.1:27017/finance_management
JWT_SECRET=your_super_secret_jwt_key_here
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=https://fms-bk.netlify.app,https://another-domain.com
NODE_ENV=development
